@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Varela Round', sans-serif;
    background-color: #FFE4E4;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {

    background-image: url(img/9cb286.png);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    min-height:70vh;
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.logo {

    color: #62764D;
    font-size: 25px;
    font-weight:800;
}

.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a{

    font-size: 18px;
    padding: 20px;
    color: #62764D;
    display: block;
    font-weight: 600;
}

.menu .navbar ul li a:hover {

    color: #ffffff;
}

#menu {
    display: none;
}

.menu-icono {

    width:25px;

}

.menu label {
    cursor: pointer;
    display: none;
}

.header-content {
    width: 100%;

}

.header-txt {

    width: 50%;
}

.oferta {
    display: inline-block;
    font-size: 16px;
    padding: 5px 13px;
    color: #ffffff;
    border-radius: 25px;
    text-transform: uppercase;
    background-color: #62764D;
    margin-bottom: 35px;
}

.header-txt h1 {

    font-size: 110px;
    line-height:110px;
    /* podemos ocupar otro tipo de letra
    font-family:.......*/
    color: #62764D;
    margin-bottom: 35px;
}



